<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "Kathy5.jpeg" %>
	</div>

	<div id="content">
		<h1>Catherine Banton</h1>

		<p>Hi! I am Catherine Banton and I'm here to show you how your ideas can be woven into words in the best way possible. Whether it’s on print or on the web, an event coverage, news release, a report or a blog, tell me what you want to say. I will craft it for you and give you a vehicle to put your message out there. My mission is to communicate exactly what you mean - to paint your vision in words.</p> 
		
		<p>I am a freelance writer, editor and marketing professional with extensive experience in production of collateral materials, corporate literature, press releases, SEO copy, online content (blog, features and website copy), as well as expertise in events management and PR and media relations and advocacy. I also write code in Ruby on Rails.</p>
	</div>
</div>
