<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>Catherine Banton</h1>

		<p>Lorem ipsum dolor sit amet, mea no soleat salutatus, in sea dicit posidonium, ne noster disputando vim. Aliquid vocibus vel eu, an quo bonorum corrumpit. Modo utroque hendrerit mea te. Commodo luptatum senserit te mei, ex sed modus dolore everti. Cum modus nulla torquatos id.

Eu eum mandamus torquatos constituto. Ne cum delenit expetenda scribentur, eos at timeam propriae, postea quodsi apeirian ne cum. Sed natum regione consetetur te. Per solum postea veritus no. Vidisse tibique accusata ne vis. Bonorum facilisis per ex, soleat luptatum scriptorem est in.</p>
	</div>
</div>